# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
.flowbite-react/

# Local env files
.env
.env.local
.env.*.local
*.local

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Cache
.npm
.eslintcache

# Other
*.out